* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

:focus,
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

::-webkit-scrollbar {
  z-index: 50;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  transition: all 0.2s;
  height: 3px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #ddd;
  transition: all 0.2s;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

body {
  padding: 20px;
}

.logo {
  margin-left: 20px;
  font-weight: bold;
  font-size: 2rem;
  color: #666;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}
.logo .hint {
  font-weight: normal;
  color: #bbb;
  margin-left: 20px;
  font-size: 1rem;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: flex-start;
  border: 1px dashed #bbb;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.02);
}
.container:hover {
  cursor: crosshair;
}
.container.on-hover {
  background-color: #f3ffc7;
}
.container > * {
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
}
.container .text {
  width: 30%;
}
.container .text .text-content {
  font-size: 0.7rem;
  height: 150px;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #dadada;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.container .image {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.container .image .image-wrapper {
  border: 1px solid #dadada;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container .image .image-wrapper img {
  display: block;
  height: 150px;
}
.container .image:hover .image-wrapper {
  transition: all 0.5s;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
}

.file-name {
  margin-top: 5px;
  font-size: 0.8rem;
  text-align: center;
  color: #333;
}

.modal {
  padding: 40px;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal img {
  max-width: 100%;
  display: block;
}

.hidden {
  display: none;
}

.prototype {
  display: none !important;
}
